.input {
  border: none;
  border-bottom: 1px solid #718093;
  background-color: transparent;
  color: #f5f6fa;
}
.input:focus {
  outline: none;
}
.inputGroup {
  display: flex;
  justify-content: space-between;
  width: 230px;
  color: #f5f6fa;
  margin: 6%;
}
.error {
  margin-top: 5px;
  color: #e84118;
  font-size: 14px;
}
.inputErrorDiv {
  display: flex;
  flex-direction: column;
  align-items: start;
}
