.form {
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #353b48;
  width: fit-content;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  color: #f5f6fa;
  box-shadow: 1px 1px 30px #718093;
}
.button {
  background-color: transparent;
  border: none;
  color: #f5f6fa;
  background-color: #4cd137;
  padding: 3% 15%;
  margin-top: 15%;
  transition: all 0.1s;
}
.button:hover {
  background-color: #45bd32bc;
  cursor: pointer;
}
