.table {
  color: #dcdde1;
  box-shadow: 1px 1px 30px #718093;
}
.trHead {
  background-color: #2f3640;
}
.trDark {
  background-color: #2f3640;
}
.trLight {
  background-color: #393f4e;
}
td,
th {
  padding: 15px;
}
.edit,
.delete,
.save,
.disabled {
  color: #dcdde1;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  transition: all 0.3s;
}
.disabled {
  background-color: #718093;
}
.edit {
  background-color: #e1b12c;
}
.delete {
  background-color: #c23616;
}
.save {
  background-color: #44bd32;
}
.edit:hover,
.delete:hover,
.save:hover {
  border-radius: 0;
  color: #393f4e;
  cursor: pointer;
}
.edit:hover {
  background-color: #fbc531;
}
.delete:hover {
  background-color: #e84118;
}
.save:hover {
  background-color: #4cd137;
}
.flagButton:hover {
  background-color: #45bd32bc;
  cursor: pointer;
}
.flagButton {
  background-color: transparent;
  border: none;
  color: #f5f6fa;
  background-color: #4cd137;
  padding: 3% 5%;
  transition: all 0.1s;
  width: 35%;
  margin-top: 4%;
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modalBlock {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
