.table {
  color: #dcdde1;
  box-shadow: 1px 1px 30px #718093;
}
.trHead {
  background-color: #2f3640;
}
.trDark {
  background-color: #2f3640;
}
.trLight {
  background-color: #393f4e;
}
td,
th {
  padding: 15px;
}
.edit,
.delete,
.save,
.disabled {
  color: #dcdde1;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  transition: all 0.3s;
}
.disabled {
  background-color: #718093;
}
.edit {
  background-color: #e1b12c;
}
.delete {
  background-color: #c23616;
}
.save {
  background-color: #44bd32;
}
.edit:hover,
.delete:hover,
.save:hover {
  border-radius: 0;
  color: #393f4e;
  cursor: pointer;
}
.edit:hover {
  background-color: #fbc531;
}
.delete:hover {
  background-color: #e84118;
}
.save:hover {
  background-color: #4cd137;
}
.flagButton:hover {
  background-color: #45bd32bc;
  cursor: pointer;
}
.flagButton {
  background-color: transparent;
  border: none;
  color: #f5f6fa;
  background-color: #4cd137;
  padding: 3% 5%;
  transition: all 0.1s;
  width: 35%;
  margin-top: 4%;
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
